/*
Error: Invalid CSS after "...ial, sans-serif": expected "{", was ";"
        on line 9 of /Users/zachherring/Documents/code/zherring.github.io/css/main.scss

4: // @charset "utf-8";
5: 
6: 
7: 
8: // Our variables
9: $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
10: $base-font-size:   16px;
11: $base-font-weight: 400;
12: $small-font-size:  $base-font-size * 0.875;
13: $base-line-height: 1.5;
14: 

Backtrace:
/Users/zachherring/Documents/code/zherring.github.io/css/main.scss:9
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1110:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:654:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:647:in `ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:673:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:663:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:123:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:39:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ial, sans-serif\": expected \"{\", was \";\"\A         on line 9 of /Users/zachherring/Documents/code/zherring.github.io/css/main.scss\A \A 4: // @charset \"utf-8\";\A 5: \A 6: \A 7: \A 8: // Our variables\A 9: $base-font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\A 10: $base-font-size:   16px;\A 11: $base-font-weight: 400;\A 12: $small-font-size:  $base-font-size * 0.875;\A 13: $base-line-height: 1.5;\A 14: "; }
