---
# Only the main Sass file needs front matter (the dashes are enough)
---

$light-gray: #EAEAEA;

#splash {
    // height: 50vh;
    padding: 2em 0;
    > * { margin: .5em;  }
    img { max-width: 320px; height:auto; opacity: .98;}
    h1 { margin-bottom: 0;}
    aside { font-size: 1rem; }
}

$pages: (
    nav-tool: #FFC725,
    install: #339CE2
    );

@each $key, $value in $pages {
    .#{$key} #splash {
        background: $value;
        background-image: linear-gradient(171deg, $value 70%, adjust-hue($value, -14) 130%);
        img { box-shadow: 0 4px 4px darken($value, 12); }

            @if( lightness($value) > 50) {

                h1 {
                color: #FFF;
                text-shadow: 0 4px 2px darken($value, 10);
                }
                aside { color: darken($value, 20); }
                }
            @else {
                h1 {
                color: darken($value, 50);
                text-shadow: 0 4px 4px darken($value, 10);
                }
                aside { color: lighten($value, 5); }
                }
        }
    }

    //
    // opacity: 0.2;
    // background-image: linear-gradient(1deg, #FF5600 0%, rgba(255,109,0,0.00) 64%);
    //


body.page { font-size: 18px; }
article {
    align-items: center;

}

h1 { font-size: 2.6rem;}
h2 { font-size: 1.8rem;}
h3 { font-size: 1.3rem;}

section {
    p {

    }
    title {}
    > div {
        height:  .2rem;
        background: $light-gray;
        width: auto;
    }


}
