h1, h2, h3, h4 {
    font-family: 'Dosis', sans-serif;
    color: #504F4F;
}

body { background: #FAFAFA; }

a, a:visited, a:active {
    text-decoration: none;
    color: #41CE88;
    }

a:hover {
    color: #41CE88;
    text-decoration: none;
    }

small { color: #AAA;}
header, #container { display: flex; }
#container {
    margin: 2em;
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: row;
    align-content: space-between;
    align-items: flex-start;

    img { max-width: 90%;}
    .cross { text-decoration: line-through; }
//    div { flex-grow: 1;  }
    #left p , #right p { font-size: .95em; margin: 1em; }
     }

#left { max-width: 26em; }
#right {
    width: 90%;

}
