<div id="bio">
    <span id="me"></span>
    <div id="social">
        <a href="https://www.dribbble.com/zherring">{% include /svg/ico-drb.svg %}</a>
        <a href="https://www.github.com/zherring">{% include /svg/ico-gh.svg %}</a>
        <a href="https://www.codepen.com/zherring">{% include /svg/ico-cp.svg %}</a>
        <a href="mailto:z.herring@gmail.com">{% include /svg/ico-mail.svg %}</a>
        <a href="https://www.twitter.com/zherring">{% include /svg/ico-twi.svg %}</a>
        <a href="https://www.instagram.com/zherring">{% include /svg/ico-ig.svg %}</a>
    </div>
    <h1>Zach is a Lead Product Designer living in beautiful <br /> {% include svg/ico-boulder.svg %} Boulder, Colorado</h1>
    <p>I make things, mostly on the web with {% include svg/ico-pix.svg %} pixels and {% include svg/ico-cd.svg %}  code. If you need a user-centric design leader,
        <a class="talk" href="mailto:z.herring@gmail.com">
            {% include svg/ico-mail-inline.svg %} we should talk.
        </a>
    </p>
</div>
