<!-- OLDIES BUT MOLDIES -->


<div id="medium" class="flex-grid">
    <article class="sovrn card-container">
        <div class="card">
            <a href="medium.com/my-portfolio">
                <div class="front">
                    <h4>sovrn Design Patterns</h4>
                </div>
                <div class="back">
                    <a class="off-link">Post on Medium</a>
                </div>
            </a>
        </div>
    </article>

    <article class="sovrn card-container">
        <div class="card">
            <a href="medium.com/my-portfolio">
                <div class="front">
                    <h4>sovrn Design Patterns</h4>
                </div>
                <div class="back">
                    <a class="off-link" href="#">View on Medium -></a>
                </div>
            </a>
        </div>
    </article>

    <article class="sovrn card-container">
        <div class="card">
            <a href="medium.com/my-portfolio">
                <div class="front">
                    <h4>sovrn Design Patterns</h4>
                </div>
                <div class="back">
                    <a class="off-link">Post on Medium</a>
                </div>
            </a>
        </div>
    </article>

    <article class="sovrn card-container">
        <div class="card">
            <a href="medium.com/my-portfolio">
                <div class="front">
                    <h4>sovrn Design Patterns</h4>
                </div>
                <div class="back">
                    <a class="off-link">Post on Medium</a>
                </div>
            </a>
        </div>
    </article>

    <article class="sovrn card-container">
        <div class="card">
            <a href="medium.com/my-portfolio">
                <div class="front">
                    <h4>sovrn Design Patterns</h4>
                </div>
                <div class="back">
                    <a class="off-link">Post on Medium</a>
                </div>
            </a>
        </div>
    </article>
</div>
