<div id="social">

    <h3>More things here<br />
        <a href="https://www.dribbble.com/zherring">{% include /svg/ico-drb.svg %}</a>
        <a href="https://www.github.com/zherring">{% include /svg/ico-gh.svg %}</a>
        <a href="https://www.codepen.com/zherring">{% include /svg/ico-cp.svg %}</a>
    </h3>
    <h3>Talk @ me here <br />
        <a href="mailto:z.herring@gmail.com">{% include /svg/ico-mail.svg %}</a>
        <a href="https://www.twitter.com/zherring">{% include /svg/ico-twi.svg %}</a>
        <a href="https://www.instagram.com/zherring">{% include /svg/ico-ig.svg %}</a>
    </h3>
</div>
