<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    <div id="container">

        <article id="bio">
            <aside class="slab gray">Zach has been...</aside>
            <h1>Fighting For His Right to Party Since 1985.</h1>
            <p>He's a product designer running, writing and rock climbing in {% include svg/ico-boulder.svg %} Boulder CO.</p>
        </article>


        {% for page in site.pages %}
            <article class="{{ page.class }}">
                <a href="{{ page.url }}" class="splash">
                <img src=" {{ page.img }}" />
                <h2> {{ page.title }} </h2>
                <aside> {{ page.aside }} </aside>
                </a>
            </article>
        {% endfor %}


    </div>
    <!-- {% include footer.html %} -->

  </body>

</html>
