<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="page">
        <article class="post {{ page.class }}">
            <header id="splash" class="post-header flex f-col spc-arnd align-c">
                <img src="{{ page.splash }}">
                <div class="center">
                    <h1 class="post-title">{{ page.title }}</h1>
                    <aside> {{ page.aside }}</aside>
                </div>
            </header>

            <div class="post-content">
            {{ content }}
            </div>

        </article>
    </body>

</html>
